.chart {
  max-width: 760px;
  opacity: 0.9;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: evenly;
}
@media screen and (max-width: 1170px) {
  .flex{
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .chart{
    width: 100%;
  }
}