.sidebar {
  margin: 0;
  padding: 0;
  width: 13vw;
  background-color: #434854;
  position: fixed;
  height: 100%;
  top: 7vh;
  left: -100%;
  transition: all 1s;
  z-index:1;
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #00e296;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.show {
  left: 0;
}

@media screen and (max-width: 920px) {
  .sidebar{
    width: 100%;
  }
}
